.navbar{ background: #222222; }

.nav-link , .navbar-brand{ color: #f4f4f4; cursor: pointer;}

.navbar-brand:hover{color: #666;}

.nav-link{ margin-right: lem !important; }

.nav-link:hover{color : #666; }

.navbar-collapse{ justify-content: flex-end;}

.navbar-toggler{  background:rgb(196, 152, 152) !important;}

/*header style*/
.header{
    /* background-image: url('../images/toronto-skyline.jpg'); */
    background-attachment: fixed;
    background-position: center;
    background-color: #f4f4f4;
    position: relative;
    height: 100vh;
    width: 100vw;
    margin: 1em;
    padding: 1.5em;
}

.overlay{
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(244, 244, 244, 0.75);
}

.description{
    position: absolute;
    top: 30%;
    margin: auto;
    padding: 2em;
}

.description h1{
    color:#414141;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 60px;
}
.description p{
	color:#414141;
	font-size: 20px;
	line-height: 1.5;
}

body { background: #f4f4f4 !important;}

.about{
    margin: 4em 0;
    padding: 1.5em;
    position: relative;
    border-top-right-radius:15px;
    border-top-left-radius:15px;
    border-bottom-right-radius:15px;
    border-bottom-left-radius:15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   }
   .about h1{
    color:#414141;
    margin: 1em;
   }
   .about img{
        border-radius: 60%;
        border: 20px;
        background-image: url(../images/me.jpg); 
        background-position:center; 
   }
   .about span{
    display: block;
    color: #222;
    position: absolute;
    left: 115px;
   }
   .about .desc{
    padding: 1.5em;
    border-left:4px solid #666;
   }
   .about .desc h3{
    color: #666;
   }
   .about .desc p{
    line-height:2;
    color:#414141;
   }

#about {
    background-color: #f4f4f4;
    margin: 1em;
}

.projects {
    margin: 1em;
    padding: 1.5em;
    position: relative; 
    background-color: #f4f4f4;
    text-align: center;
    border-top-right-radius:15px;
    border-top-left-radius:15px;
    border-bottom-right-radius:15px;
    border-bottom-left-radius:15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   }
   .projects h1{
    color:#414141;
    padding: 1em; 
   }
   .projects .card{
    box-shadow: 0 0 20px #ccc;
    background-color: #3700B3;
    background-size: fixed;
   }
   .projects .card img{
    height: 16em;    
   }
   .projects .card-title{
    color:#414141;
    background-size: fixed;
     
   }
   .projects .card-body{
    padding: 1em;
    background-size: fixed;
   }
   .projects .card-footer{
       background-color: #8DB8EB;
   }
   .projects .card-link{
       color: #414141;
   }
   .projects .card-link:hover {
       color: blue;
       
   }
   .projects .card .inner h2{
       color: white;
       font-size: 25px;
   }
   .projects .card .inner h3{
       color: white;
       font-size: 15px;
       padding: 0.1em;
   }
.footer {
    margin: 1em;
    position: relative; 
    background-color: #f4f4f4;
    padding: 1.5em;
    border-top-right-radius:15px;
    border-top-left-radius:15px;
    border-bottom-right-radius:15px;
    border-bottom-left-radius:15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.footer h1{
    color:#414141;
    padding: 1em; 
   }
.footer a{
    color: #414141;
}
.footer a:hover{
    opacity: 0.6;
}

.inner {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow: auto;
}

.cardbutton {
    margin: 1em;
  }

.cardoverlay{
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.8);
    display: none;
}
  
.cardbutton a {
    padding: 12px 12px;
    text-align: center;
    color: white;
    border: solid 2px white;
}

#buttonsee:hover {
    background-color: #414141;
}


  